/* Inserta tu codigo aqui */

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}

.contenedor{
    width: 900px;
    margin: auto;
    
}
/*-----header----*/
header{
    background: black;
   
    
}
img{
    width: 250px;
}
ul{
    float: right;
	list-style: none;
	margin: 0;
	padding-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px
}

/*-----adicionales----*/
body{
    background: #2d2735;
}

.hero{
    margin-top: 30px;
    background: #2d2735;
}
.banner {
    background-image: url(../image/header-image.jpg);
    background-size: cover;
    width: inherit;
    height:380px;
    display: table;
   
    
    
}

.flower-banner{
        position: relative;
        background: rgba(0,0,0,0.9);
        width: 60%;
        height:60%;
        border: 1px solid rgba(0,0,0,0.9);
        left: 20%;
        transform: translateY(30%);
        text-align: center;
        display: table;
        text-align: center;
                
} 
.frase{
   
    display: table-cell;
    vertical-align: middle;
    width: 100% auto;
}

.flower-banner h1 {
    padding: 0;
    margin: 0px;
    color: #f5b966;
    font-family: Courgette;
    font-size: 60px;
    padding-bottom: 20px;
        
   
}
.flower-banner p {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family:sans-serif;
    
    
}

/*----section columnas----*/
.col-1, .col-2, .col-3 {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    display: table;
    width: 33%;
    
        
}

.contenido img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    
}

.contenido h6 {
    text-align: center;
    font-family: Courgette;
    color: #f5b966;
    font-size: 14px;
    margin: 0;
}
.contenido p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: #FFF;
    
}
/*----section muestra-video----*/

.colvid-1{
    width: 58%;
    display: inline-block;
    vertical-align: top;
}

.colvid-2{
    width: 38%;
    display: inline-block;
    vertical-align: top;
    margin-left:2% ;
    
}
.contenido-vid iframe{
    width: 100%;
}
.colvid-1 img{
    width: 100%;
}

.colvid-2 img{
    width: 80%;
}
.contenido label{
    color: #FFF;
    width: 10%;
    height: auto;
    text-align: center;
    border-radius: 2px;
    text-align: center;
    margin: 2%;
}


/*--@media----*/
@media (max-width:900px){
	.contenedor{
		width: 700px;
    }
}
@media (max-width:700px){
  .contenedor{
        width: 100%;
    }
 .col-1{
        width: 100%;
    }
  .col-2{
        width: 100%;
        clear: both;
    }
  .col-3{
        width: 100%;
        clear: both;
    }
  .block-form{
		margin: 0;
	}
  .colvid-1{
     width: 100%;
        clear: both;
    }

  .colvid-2{
    width: 100%;
        clear: both;
    }
}

